.horse {
    margin-top: 350px;
    max-width: 1440px;
    margin: 300px auto 0 auto;
}
.horse__container {
}
.horse__content {
    display: flex;
    align-items: center;
    
}
.horse__body {
    
    text-align: center;
}
.logo {
    
    margin: 0px 0px 32px 0px;
}
.logo__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
.horse__title {
    margin: 0px 0px 32px 0px;
    color: var(--primery-green);
    font-family: "Nunito Sans";
    font-size: 65px;
    font-weight: 900;
    line-height: 72px;
}
.logo__dis {
    margin: 0px 0px 48px 0px;
    color: var(--primery-green);
    font-family: "Nunito Sans";
    font-size: 24px;
    line-height: 32px;
}
.horse__but {
    color: var(--primery-green);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 700;
    padding: 12px 34px;
    border-radius: 100px;
    border: 2px solid var(--Primary, #0B4141);
    transition: 0.5s all linear;
}
.horse__but:hover {
    background-color: #082b2b;
    color: #1d9c9c;
}

.horse__image {
    position: relative;
    
}
.horse__image::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    height: 500px;
    width: 80%;
    box-shadow: inset -22px -110px 160px rgba(255, 204, 188, 0.3);
    z-index: -1;
    
}
